<div class="nav">
	<div>MushroomDevs</div>
</div>
<div class="flex">
	<div>
		<div class="title margin-bottom-10">Воплощаем ваше виденье в жизнь</div>
		<div class="description margin-bottom-10">Создаем уникальные онлайн сервисы для вас и ваших клиентов.</div>
		<div class="description">Мы предлагаем полный спектр услуг по индивидуальному дизайну и разработке. От лендинга до высоконагруженных сервисов.</div>
	</div>
	<div class="mushroom">
		<%= image_tag 'mushroom.png' %>
	</div>
</div>
<div class="center-mobile">
	<%= link_to 'Написать в Telegram', 'https://t.me/ipatov', target: '_blank', class: 'btn btn-s' %>
</div>