<div class="flex">
	<div class="center-mobile">
		<div class="description-bold margin-bottom-10">Mushroomdev</div>
		<div class="title margin-bottom-10">Воплощаем ваше видение в жизнь</div>
		<div class="description margin-bottom-20">Создаем уникальные онлайн продукты для вас и ваших клиентов</div>
		<%= link_to 'Написать в Telegram', 'https://t.me/ipatov', target: '_blank', class: 'btn btn-s' %>
	</div>
	<div class="line"></div>
	<div class="mushroom center-mobile">
		<%= image_tag 'mushroom.png' %>
	</div>
</div>
<div class="center-mobile margin-bottom-40">
	<div class="title margin-bottom-10">Разработка онлайн продуктов и Консультирование стартапов</div>
	<div class="description">От идей до MVP за короткие сроки.</div>
</div>

<div class="center-mobile">
	<div class="description-bold margin-bottom-10">Наши проекты</div>
	<div class="image-box margin-bottom-10"><%= link_to image_tag('thecrypta.png'), 'https://thecrypta.ru', target: '_blank' %></div>
</div>