* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@keyframes invert {
	from {}
  to { filter: invert(100%); }
}
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #222;
  background: #ffba00;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
  display: inline-block;
  padding: 6px 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  outline: 0;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn-s {
  background: #252525;
  color: #fff;
  border: 1px solid #252525; 
}
.btn-s:focus,
.btn-s:active,
.btn-s:hover {
  background: #333;
  color: #fff;
  border: 1px solid #333;
}
.container {
  max-width: 769px;
  margin: 0 auto;
  padding: 20px;
}
.nav {
	display: flex;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	align-items: center  ;
	justify-content: space-between;
	margin-bottom: 60px;
}

.flex {
  position: relative;
	display: flex;
	align-items: center;
  margin: 30px 0;
}
.flex div {
	width: 100%;
}
.flex-center {
  text-align: center;
}
.title {
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.description {
  font-size: 22px;
  font-weight: 500;
  color: #252525;
}
.description-bold {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
}
.mushroom img {
	animation: invert 420ms 1;
	animation-delay: 4200ms;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.energy {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.energy img {
  max-width: 40px;
}
.line {
  width: 100%;
  border: 1px dashed #222;
  margin: 0 20px;
}
@media (max-width: 600px) {
  .nav {
    justify-content: center;
    margin-bottom: 30px;
  }
  .flex {
    flex-direction: column;
    justify-content: center;
  }
  .mushroom img {
    max-width: 300px;
    margin-top: 30px;
  }
  .center-mobile {
    text-align: center;
  }
}